h1 aaaa

#home(ng-controller="mainController")

  #frame
    .jaws.left
    .jaws.top
    .jaws.right
    .jaws.bottom

  button(ng-click="prevPanel()").prev-panel <
  button(ng-click="nextPanel()").next-panel >
