h1 aaaa

#home(ng-controller="mainController")

  #frame
    .jaws.left
    .jaws.top
    .jaws.right
    .jaws.bottom

  button(ng-click="goPrev()", title="Previous").btn.go-prev <
  button(ng-click="goNext()", title="Next").btn.go-next >
