h1 aaaa

#home(ng-controller="mainController")

  #frame
    .jaws.left
    .jaws.top
    .jaws.right
    .jaws.bottom

  button(ng-click="goPrev()", title="Previous").btn.go-prev <
  button(ng-show="isPageView",ng-click="switchToPanelView()").btn Switch to Panel View
  button(ng-show="!isPageView",ng-click="switchToPageView()").btn Switch to Page View
  button(ng-click="goNext()", title="Next").btn.go-next >
